body {
    color: #5b5b5b;
   font-family: 'Roboto', sans-serif;
    /*font-family: "Roboto Light";*/
    background-color: #fafafa;
}
.container-fluid{
    margin-left: 100px;
    margin-right: 100px;
}

#logo {
    font-family: 'Candal', sans-serif;
    color: #6d6efc;
    font-size: 23px;
}
#logo:hover{
    color: #eb9938;
}

.navbar-toggler:focus {
    box-shadow: none;
}

a.nav-link.active{
    text-align: center;
    font-size: 25px;
    font-weight:400;
}
.navbar-nav .nav-link.active{
    color:#5b5b5b ;
}

a.nav-link.active:hover{
    color:#eb9938;
}

#home-img {
    height: 650px;
    width: 650px;
}

#main-title {
    padding-top: 200px;
}

h3{
    font-weight: bold;
    font-size: 30px;
}

.main-content {
    margin-top: 25px;
    font-size: 20px;
}

.btn-see-more {
    background-color: #6d6efc;
    padding: 10px 35px;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: normal;
    border-radius: 18px;
    margin-top: 15px;
    display: inline-block;

}
.btn-see-more:hover {
    background: white;
    border: 1px solid;
    color: #712cf9;

}
.btn-see-more a{
    text-decoration: none;
    color:white;
}
.modal-footer{
    border: none;
}
#btn-modal-close{
    background-color:#eb9938 ;
    border:none;
}
#btn-modal-submit{background-color:#4f52ff }









