body {
    color: #5b5b5b;
    font-family: 'Roboto', sans-serif;
}

h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: lighter;
}

.btn {
    background-color: #6d6efc;
    padding: 7px 25px;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: normal;
    border-radius: 18px;
    margin-top: 15px;
    display: inline-block;
}

.btn:hover, #btn-file:hover {
    background: white;
    border: 1px solid;
    color: #712cf9;

}

#btn-file {
    background-color: #6d6efc;
    padding: 7px 30px;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.col-4 {
    margin-top: 70px;
    margin-bottom: 70px;
}

/*.card {
    background-color: white;
    box-shadow: 12px 12px 22px #dadce0;
    border-radius: 5px;
    border: solid 1px #ebebeb;
    color: #606060;
    font-family: "Roboto Light";
}*/

.col-8 {
    margin-top: 70px;
    border: solid 1px #ebebeb;
    padding: 20px;
    background-color: white;
    box-shadow: 12px 12px 22px #dadce0;
    border-radius: 5px;
    margin-bottom: 70px;
}

#avatar {
    text-align: center;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    background-color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #eb9938;
}

.nav-link {
    color: #4f52ff;

}

.tab-content > .active {
    margin-top: 20px;
}

#list {
    background-color: #eb9938;
}

#list:hover {
    background: white;
    border: 1px solid;
    color: #eb9938;

}

::placeholder, #capture, .form-control {
    color: #606060 !important;
    font-family: "Roboto Light";
}

.avatar {
    position: relative;
}

#edit-img {
    padding: 5px 10px;
    font-size: 16px;
    font-family: "Roboto Light";
    position: absolute;
    bottom: 0;
    right: 100px;
    background: white;
    border: 1px solid;
    color: #eb9938;
    color: #eb9938;
}

#add-img {
    padding: 6px 15px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
}

table, thead {
    color: #5b5b5b;

}

a.btn-delete {
    color: #eb9938;
    text-decoration: none;

}

a.btn-delete:hover {
    color: #712cf9;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    position: relative;
}

.column img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    margin-top: 30px;

}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #eb9938;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: white;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}