<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <head th:insert="~{fragments/links.html :: links}"></head>
    <link rel="stylesheet" href="/homeStyle.css">
</head>
<body>
<header th:insert="~{fragments/navbar.html :: nav}"></header>
<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div id="main-title" class="col align-self-center">
                    <h3>Only proven beauty specialists</h3>
                </div>
                <div class="main-content">
                    <p>Are You Ready for a New & Better You?<br>
                        We’ve got it covered with all the Beauticians.<br>
                        Guided by this beauty diary, you will achieve your new look!<br>
                    </p>
                </div>
                <a class="btn-see-more" href="/categories">See more</a>
            </div>
            <div class="col-6 rounded mx-auto d-block">
                <img id="home-img" src="/img/home.png" class="rounded float-end" alt="...">
            </div>
        </div>
    </div>

</main>
</body>
</html>