body{
    color: #5b5b5b;
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    margin: 0;
    paddind: 0;
    box-sizing: border-box;
}

#box{
    margin: 50px auto;
    max-width: 500px;
    border: solid 1px #ebebeb;
    box-shadow: 12px 12px 22px #dadce0;
    background-color: white;
    border-radius: 15px;
    padding: 30px;

}
.btn {
    background-color: #6d6efc;
    padding: 7px 30px;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: normal;
    border-radius: 18px;
    margin-top: 15px;
    display: inline-block;
}
.btn:hover{
    background: white;
    border: 1px solid;
    color: #712cf9;
}
p{
    font-size: 25px;
    font-weight: lighter;
}

::placeholder {
    color: #b7b7b7 !important;
    font-family: "Roboto Light";
}